<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img [src]="brandImage" class="brand-logo"></ion-img>
    </ion-buttons>

    <ion-title class="centered-title">
      <img src="./assets/image/chemicals-approval.png" height="25" width="25" />
      <b>&nbsp;&nbsp;Compound Approval</b>
    </ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="approvals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-footer>
      <ion-grid>
        <ion-row class="ion-align-items-center input-scan-row">
          <ion-col size="12" size-md="2" class="ion-text-center">
            <img src="./assets/image/qr-scan.png" alt="Scanner" (click)="scan()" class="qr-icon" />
          </ion-col>          
          <ion-col size="12" size-md="7">
            <ion-item>
              <ion-input [(ngModel)]="planid" placeholder="Enter Planid"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="3" class="ion-text-right">
            <ion-button expand="block" color="primary" (click)="sendData()" [disabled]="!planid?.length">Send</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>  

  <ion-card *ngIf="showEntryCard">
    <form [formGroup]="registerForm" (ngSubmit)="submitData()">
      <ion-card-header style="border-bottom: 1px solid grey;">    
        <ion-card-title>Compound : {{datapass.cpdname}}</ion-card-title>              
      </ion-card-header>
      <ion-grid id="grid" class="appfont">
        <div style="overflow-x: auto;">
          <div style="min-width: 800px;">
            <ion-row class="table-header">
              <ion-col size="3">Parameter</ion-col>
              <ion-col size="2">Spec</ion-col>
              <ion-col size="2">Lower Limit</ion-col>
              <ion-col size="2">Upper Limit</ion-col>
              <ion-col size="3">Observation</ion-col>
            </ion-row>
            <ion-row *ngFor="let y of rmDetails; index as i" class="table-row">
              <ion-col size="3" class="blue-text">{{ y.paramname }}</ion-col>
              <ion-col size="2">{{ y.paramspec }}</ion-col>
              <ion-col size="2">{{ y.paramllimit }}</ion-col>
              <ion-col size="2">{{ y.paramulimit }}</ion-col>
              <ion-col size="3">
                <ion-input type="number" [value]="y.paramval"
                  (ionChange)="onChangeOnservation(i,$event.target.value)"
                  (click)="prefill(i,$event.target.value)"
                  (focusout)="blured(i,$event.target.value)">
                </ion-input>
              </ion-col>
            </ion-row>
          </div>
        </div>
        
      </ion-grid>
      <ion-grid>
        <ion-row class="radio-row">
          <ion-col size="12" size-md="4">
            <ion-label>Compound :</ion-label>
          </ion-col>
          <ion-col size="12" size-md="8">
            <ion-radio-group
              [value]="isApproved"
              (ionChange)="approval($event.detail.value)"
              class="custom-radio-group"
            >
              <div class="radio-option">
                <ion-radio value="1"></ion-radio>
                <span>Approved</span>
              </div>
              <div class="radio-option">
                <ion-radio value="0"></ion-radio>
                <span>Rejected</span>
              </div>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        
        
      
        <ion-row>
          <ion-col size="12">
            <ion-textarea formControlName="remarks" placeholder="Remarks" fill="outline"></ion-textarea>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="success" type="submit" [disabled]="!registerForm.valid">Submit</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="modaldismiss()">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </form>
  </ion-card>
  

</ion-content>

<!-- Modal (shown only if scanning is active) -->
<div class="custom-modal" *ngIf="isScanModalOpen">
  <ion-header>
    <ion-toolbar>
      <ion-title>Scan QR</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeScanModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="scanner-content">
    <div class="video-container">
      <video #video autoplay muted playsinline></video>
      <div class="overlay" *ngIf="isVideoReady">
        <div class="focus-box">
          <div class="scan-line"></div>
        </div>
      </div>
    </div>
  </ion-content>
</div>