<ion-header class="main-sub-header">
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="Planhome"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Production Plan</h3>
      </ion-toolbar>
      <div *ngIf="locationArray.length > 0">
        <ng-select
          class="pi-dropdown"
          [(ngModel)]="selected"
          [items]="locationArray"
          bindLabel="name"
          bindValue="value"
          (change)="OperatorChanged($event,'location')"
          placeholder="📊 Select Location"
          [searchable]="true"
          [clearable]="false"
          searchFailText="Location not found"
        >
          <ng-template ng-header>
            <div class="dropdown-header">📑 Available Location</div>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <span class="selected-item">{{ item.name }}</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div class="option-item">
              <i class="fas fa-file-alt"></i>
              {{ item.name }}
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div>
        <ion-label>Date </ion-label>
        <input
          type="date"
          class="selectdddate"
          [(ngModel)]="postData.didate"
          id="datefield"
          (change)="changeData($event)"
        />
      </div>
    </div>
    <div class="right-menu">
      <ion-button color="light" size="small" (click)="addRow()"
        >Add Item</ion-button
      >
      <ion-button
        color="success"
        size="small"
        (click)="validateError()"
        [disabled]="tableData.length == 0"
        >Create</ion-button
      >
      <ion-button color="danger" size="small" (click)="deleteList()"
        >Delete</ion-button
      >
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="reports-table">
      <ion-grid class="overflow-visible">
        <!-- Table Header -->
        <ion-row class="table-header" nowrap>
          <ion-col
            size="3"
            class="header-cell"
            tappable
            (click)="sort('bind', true)"
          >
            Comp Ref ({{ tableData.length }})
          </ion-col>
          <ion-col
            size="2"
            class="header-cell"
            tappable
            (click)="sort('tool_ref', true)"
          >
            Tool Ref
          </ion-col>
          <ion-col
            size="1"
            class="header-cell"
            tappable
            (click)="sort('no_of_active_cavities', true)"
          >
            Act. Cavities
          </ion-col>
          <ion-col
            size="1"
            class="header-cell"
            tappable
            (click)="sort('std_lifts_per_plan', true)"
          >
            Plan. Lifts ({{ totalPlanlift }})
          </ion-col>
          <ion-col
            size="1"
            class="header-cell"
            tappable
            (click)="sort('expOutput', true)"
          >
            Exp.Qty ({{ totalExpqty }})
          </ion-col>
          <ion-col
            size="1"
            class="header-cell"
            tappable
            (click)="sort('numshifts', true)"
          >
            Shifts ({{ totalShift }})
          </ion-col>
          <ion-col
            size="2"
            class="header-cell"
            tappable
            (click)="sort('mcid', true)"
          >
            Machine ({{ totalMachine }})
          </ion-col>
          <ion-col size="1" class="header-cell text-center">
            <!-- Actions -->
          </ion-col>
        </ion-row>

        <!-- Table Body (Scrollable) -->
        <div class="table-body">
          <ion-row
            class="table-row"
            nowrap
            *ngFor="let x of tableData; index as i"
          >
            <ion-col size="3" class="cell overflow-visible">
              <ng-select
                [(ngModel)]="x.bind"
                [items]="componentArray"
                bindLabel="name"
                bindValue="value"
                (change)="onChangeValue($event, i)"
                placeholder="📊 Select Component"
                [searchable]="true"
                [clearable]="false"
              ></ng-select>
            </ion-col>

            <ion-col size="2" class="cell"> {{ x.tool_ref }} </ion-col>
            <ion-col size="1" class="cell">
              {{ x.no_of_active_cavities }}
            </ion-col>

            <ion-col size="1" class="cell">
              <ion-input
                type="number"
                class="number-input"
                [(ngModel)]="x.std_lifts_per_plan"
                (change)="changePlanlifts(x.std_lifts_per_plan, i)"
              ></ion-input>
            </ion-col>

            <ion-col size="1" class="cell"> {{ x.expOutput }} </ion-col>

            <ion-col size="1" class="cell">
              <select
                [(ngModel)]="x.numshifts"
                (change)="changeshift(x.numshifts, i)"
                class="styled-dropdown"
              >
                <option *ngFor="let s of x.shiftArray" [ngValue]="s">
                  {{ s }}
                </option>
              </select>
            </ion-col>

            <ion-col size="2" class="cell">
              <span *ngIf="x.machineArray.length === 1"
                >{{ x.machineArray[0].name }}</span
              >
              <select
                *ngIf="x.machineArray.length > 1"
                [(ngModel)]="x.mcid"
                (change)="changeMachine(x.mcid, i)"
                class="styled-dropdown"
              >
                <option *ngFor="let y of x.machineArray" [value]="y.value">
                  {{ y.name }}
                </option>
              </select>
            </ion-col>

            <ion-col size="1" class="cell text-center">
              <ion-icon
                name="trash-outline"
                class="icon-danger"
                (click)="deleteItem(i)"
              ></ion-icon>
            </ion-col>
          </ion-row>

          <!-- No Records -->
          <ion-row *ngIf="tableData.length === 0">
            <ion-col size="12" class="no-records">No Records Found</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>

    <div class="modal-content" *ngIf="modalDeleteData">
      <div class="modal-header">Stock Level List</div>
      <div class="modal-body">
        <ion-grid style="width: 100%">
          <ion-row nowrap class="headers">
            <ion-col size="12" style="text-align: center; font-size: larger">
              {{stockName}}
            </ion-col>
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border"> Item Qty. </ion-col>
            <ion-col size="3" class="single-border" style="text-align: center">
              Quantity
            </ion-col>
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Cus. Schedule
            </ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.cussch}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Prod. Schedule</ion-col
            >
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.prodsch}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Despatched</ion-col
            >
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.despatched}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Balance Plan</ion-col
            >
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtplan}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Pend. Cpd. Issue
            </ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtcpdiss}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Pend. Mould. Reciept</ion-col
            >
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtmldrec}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Pend. Trim. Issue
            </ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtdefiss}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Pend. Trim. Receipt
            </ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtdefrec}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Pend. Quality
            </ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.awtqualrec}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable
              >Stores Stock</ion-col
            >
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.stock}}</ion-col
            >
          </ion-row>

          <ion-row nowrap class="headers">
            <ion-col size="9" class="single-border" tappable>Total WIP</ion-col>
            <ion-col size="3" class="single-border" style="text-align: end"
              >{{modalObj.totavail}}</ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
      <div class="modal-footer">
        <ion-button
          color="danger"
          expand="block"
          (click)="modalDeleteData=!modalDeleteData;"
          >Close</ion-button
        >
      </div>
    </div>

    <div
      class="modal-content confirm-dialog danger xs"
      *ngIf="modalDeleteData2"
    >
      <div class="modal-header">
        <!-- <span class="close" (click)="modalDeleteData2=!modalDeleteData2;this.tableData=[];">&times;</span> -->
        Delete
      </div>
      <div class="modal-body" style="text-align: center">
        <br />
        Are You Sure Want to Delete : <span>{{currentItem.planid}} ?</span>
        <br />
        <br />
      </div>
      <div class="modal-footer" style="float: right">
        <ion-button color="danger" size="small" (click)="deleteDeflashing()"
          >Yes</ion-button
        >
        <ion-button
          color="secondary"
          size="small"
          (click)="modalDeleteData2=!modalDeleteData2;"
          >No</ion-button
        >
      </div>
    </div>

    <div
      class="modal-content xs confirm-dialog success"
      *ngIf="modalDeleteData4"
    >
      <div class="modal-header">
        <!-- <span class="close" (click)="modalDeleteData2=!modalDeleteData2;this.tableData=[];">&times;</span> -->
        Production Plan
      </div>
      <div class="modal-body">
        <div class="confirm-content text-center">
          <p>Are You Sure Want to Create ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <ion-button color="success" size="small" (click)="submitData()"
          >Yes</ion-button
        >
        <ion-button
          color="danger"
          size="small"
          (click)="modalDeleteData4=!modalDeleteData4;"
          >No</ion-button
        >
      </div>
    </div>

    <div class="modal-content2" *ngIf="modalDeleteData5">
      <div class="modal-header">
        <!-- <span class="close" (click)="modalDeleteData2=!modalDeleteData2;this.tableData=[];">&times;</span> -->
        Clear All
      </div>
      <div class="modal-body" style="text-align: center">
        <br />
        Are You Sure Want to clear all Items ?
        <br />
        <br />
      </div>
      <div class="modal-footer" style="float: right">
        <ion-button color="danger" size="small" (click)="clearAll()"
          >Yes</ion-button
        >
        <ion-button
          color="secondary"
          size="small"
          (click)="modalDeleteData5=!modalDeleteData5;"
          >No</ion-button
        >
      </div>
    </div>

    <!-- Modal content -->
    <div class="modal-content" *ngIf="modalDeleteData3">
      <div class="modal-header">
        <span class="close" (click)="modalDeleteData3=!modalDeleteData3"
          ><ion-icon name="close-outline"></ion-icon
        ></span>
        <p style="margin: 8px 5px">Production Plan List</p>
        <!-- <ion-grid>
          <ion-row>        
            <ion-col size="7"> <p style="margin: 8px 5px;">Production Plan List</p> </ion-col>
            <ion-col size="4">          
              <ionic-selectable
                    #selectComponent  
                    [(ngModel)]="selected"           
                    [items]="locationArray"
                    itemValueField="value"
                    itemTextField="name"
                    [canSearch]="true"
                    (onChange)="OperatorChanged2($event)"
                    searchFailText= "Operator not found"
                    placeholder="Select Location">
                </ionic-selectable>  
          </ion-col>       
            <ion-col size="1"><span class="close" (click)="modalDeleteData3=!modalDeleteData3">&times;</span> </ion-col>
          </ion-row>
        </ion-grid>           -->
      </div>
      <div class="modal-body">
        <ion-grid>
          <ion-row nowrap class="headers">
            <ion-col
              size="2"
              class="single-border"
              (click)="sort2('dispplanid',false)"
            >
              Plan ID ({{deleteData.length}})
            </ion-col>
            <ion-col
              size="2"
              class="single-border"
              (click)="sort2('plandate',false)"
            >
              Plan Date
            </ion-col>
            <ion-col
              size="3"
              class="single-border"
              (click)="sort2('cmpdname',false)"
            >
              Name
            </ion-col>
            <ion-col
              size="2"
              class="single-border"
              (click)="sort2('liftplanned',false)"
            >
              Plan. Lifts
            </ion-col>
            <ion-col
              size="2"
              class="single-border"
              (click)="sort2('cpdretqty',false)"
            >
              Ret. Cpd. Qty(kg)
            </ion-col>
            <ion-col size="1" class="single-border">
              <!-- Action -->
            </ion-col>
          </ion-row>
          <div style="height: 60vh; overflow: scroll">
            <ion-row nowrap class="content" *ngFor="let x of deleteData">
              <ion-col size="2"> {{ x.dispplanid }}</ion-col>
              <ion-col size="2"> {{ x.plandate }} </ion-col>
              <ion-col size="3"> {{ x.cmpdname }} </ion-col>
              <ion-col size="2"> {{ x.liftplanned }} </ion-col>
              <ion-col size="2"> {{ x.cpdretqty }} </ion-col>
              <ion-col size="1">
                <ion-icon
                  name="trash-outline"
                  (click)="callDeflashing(x)"
                  style="color: red"
                ></ion-icon
              ></ion-col>
            </ion-row>

            <ion-row *ngIf="deleteData.length == 0">
              <ion-col size="6" offset="4"> No Records Found</ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </ion-grid>
</ion-content>
