ion-header {
  --background: #f5f5f5;
  box-shadow: none;
  --min-height: 36px;
  ion-toolbar {
    --background: #f5f5f5;
    --min-height: 36px;
    width: auto;
    white-space: nowrap;
    margin-right: 10px;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }
  }
  .main-sub-heading {
    margin: 0;
    font-size: 17px;
    color: #000;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-left: 8px;
    }
  }
}
ion-back-button {
  --icon-font-size: 16px;
  --icon-margin-start: 0;
  --icon-margin-end: 16px;
  --padding-start: 0;
  --padding-end: 0;
  min-height: 30px;
  min-width: 30px;
  line-height: 30px;
}
.selectdddate {
  background: #ffffff;
  border: 0;
  color: #4a4646;
  box-shadow: 0px 0px 2px grey;
  padding: 4px;
  border-radius: 3px;
  margin-left: 10px;
}
.confirm-msg {
  font-size: 18px;
}

.selectdd {
  background: white;
  border: 0;
  color: black;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 24%;
  left: -2%;
}
.reports-table {
  min-height: calc(100vh - 120px);
}

.inventory-content {
  background-color: #f0f1f2;
}

// .border,
// .single-border {
//   border-bottom: 2px solid #989898;
// }

// .single-border {
//   padding-top: 12px;
// }

.content {
  color: #454f63;
  font-family: "Open Sans";
  font-size: 12px;
}

#datePicker {
  background: white;
  border: 1px solid #0000001f;
}

/* Modal Header */

.textbox {
  box-shadow: 0px 0px 2px grey;
  border-radius: 3px;
  text-align: end;
}

@media all and (orientation: portrait) {
  .orientation {
    width: 160%;
  }
}

@media all and (orientation: landscape) {
  .orientation {
    width: 100%;
  }
}

.styled-dropdown {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #8080807a;
  background-color: white;
  color: #333;
  font-size: 14px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'7'%20viewBox%3D'0%200%2010%207'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M0%200l5%207%205-7z'%20fill%3D'%23666'%20/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
