<ion-header>
  <ion-toolbar>       
        <ion-img src="{{brandImage}}" style="height: 50px;width:50px" slot="start"></ion-img>       
        <div style="display: flex;justify-content: center;">
        <img src="./assets/image/admin.png" height="25" width="25">
        <b style="font-size: 20px;">&nbsp;&nbsp;Setting</b>
        </div>
        <ion-back-button defaultHref="Moulding" slot="end"></ion-back-button>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid id="grid" class="appfont">
    <form [formGroup]="registerForm" (ngSubmit)="submitData()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" class="label">Company Url:</ion-label>
            <ion-input type="url" class="inputStyle" formControlName="url" (ngModelChange)="textChanged($event,'url')"></ion-input>     
          </ion-item>                      
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" class="label">Authenticate ID:</ion-label>
            <ion-input type="text" class="inputStyle" formControlName="auth" (ngModelChange)="textChanged($event,'authid')"></ion-input>              
          </ion-item>            
          <ion-text *ngIf="submitted && f.auth.errors">
            <ion-text color="danger" *ngIf="f.auth.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" class="label">Client ID:</ion-label>
            <ion-input type="text" class="inputStyle" formControlName="client" (ngModelChange)="textChanged($event,'clientid')"></ion-input>                      
          </ion-item>            
           <ion-text *ngIf="submitted && f.client.errors">
            <ion-text color="danger" *ngIf="f.client.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
          </ion-text>
        </ion-col>
      </ion-row>     
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" class="label">Socket Network IP:</ion-label>
            <ion-input type="text" class="inputStyle" formControlName="ip" (ngModelChange)="textChanged($event,'ip')"></ion-input>                      
          </ion-item>            
           <!-- <ion-text *ngIf="submitted && f.client.errors">
            <ion-text color="danger" *ngIf="f.client.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
          </ion-text> -->
        </ion-col>
      </ion-row>     
      <br>
      <ion-row>
        <ion-col size="12"> 
        <ion-button expand="full" shape="round" (click)="logout()"><ion-icon name="exit"></ion-icon> Logout</ion-button>
        </ion-col>
      </ion-row>
     
    </form>
  </ion-grid>
  
  <ion-img src="./assets/image/web-design-development-concept-isometric-vector-illustration-isolated-white-background-web-design-development-isometric-143506536.jpg"></ion-img>

</ion-content>