<ion-header class="main-sub-header">
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="Home"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Mixing Plan</h3>
      </ion-toolbar>
      <ion-input
        class="search-box"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        [(ngModel)]="searchData"
        ><ion-icon name="search" slot="end"></ion-icon
      ></ion-input>
    </div>
    <div class="right-menu">
      <ion-button color="success" size="small" (click)="callPlan()"
        >Create</ion-button
      >
      <ion-button color="danger" size="small" (click)="deleteList()"
        >Delete</ion-button
      >
    </div>
  </div>
</ion-header>

<ion-content class="inventory-content">
  <!-- <ion-grid>
    <ion-row nowrap class="ion-align-items-center">
      <ion-col size="6">
        <ion-input
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search"
          [(ngModel)]="searchData"
          ><ion-icon name="search"></ion-icon
        ></ion-input>
      </ion-col>
      <ion-col size="3"
        ><ion-button color="success" size="small" (click)="callPlan()"
          >Create</ion-button
        ></ion-col
      >
      <ion-col size="3"
        ><ion-button
          color="danger"
          size="small"
          (click)="deleteList()"
          style="margin-left: 20%"
          >Delete</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid> -->
  <div class="reports-table">
    <ion-grid>
      <ion-row class="table-header" nowrap>
        <ion-col
          size="4"
          class="header-cell"
          tappable
          (click)="sort('cpdname', true)"
        >
          Compound ({{ tableData.length }})
        </ion-col>
        <ion-col size="2" class="header-cell">
          IsFinal
          <ion-checkbox
            color="primary"
            checked
            (ionChange)="onChangeValueAll($event)"
            class="checkbox-center"
          ></ion-checkbox>
        </ion-col>
        <ion-col
          size="2"
          class="header-cell text-center"
          (click)="sort('stdbasepolywgt', true)"
        >
          PolyWt.Kg
        </ion-col>
        <ion-col
          size="2"
          class="header-cell text-center"
          (click)="sort('batchwgt', true)"
        >
          BchWt.Kg
        </ion-col>
        <ion-col
          size="2"
          class="header-cell text-center"
          (click)="sort('noofbatch', true)"
        >
          No. Bchs ({{ totalbatch }})
        </ion-col>
      </ion-row>

      <div class="table-body scrollable">
        <ion-row
          class="table-row"
          nowrap
          *ngFor="let x of tableData; index as i"
        >
          <ion-col size="4" class="cell"> {{ x.cpdname }} </ion-col>
          <ion-col size="2" class="cell">
            <ion-checkbox
              checked
              color="primary direct"
              (ionChange)="onChangeValue($event, i, x, 'directfinal')"
              class="checkbox-center"
            ></ion-checkbox>
          </ion-col>
          <ion-col size="2" class="cell text-center">
            <ion-input
              class="textbox input-center"
              type="number"
              [value]="x.stdbasepolywgt"
              (click)="prefill(i, x, $event, 'stdbasepolywgt')"
              (focusout)="blured(i, x, $event, 'stdbasepolywgt')"
              (ionChange)="onChangeValue($event, i, x, 'weight')"
            ></ion-input>
          </ion-col>
          <ion-col size="2" class="cell text-center">
            {{ x.batchwgt }}
          </ion-col>
          <ion-col size="2" class="cell">
            <ion-input
              class="textbox input-center"
              type="number"
              [value]="x.noofbatch"
              (click)="prefill(i, x, $event, 'noofbatch')"
              (focusout)="blured(i, x, $event, 'noofbatch')"
              (ionChange)="onChangeValue($event, i, x, 'batch')"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="tableData.length === 0">
          <ion-col size="12" class="no-records">No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <!-- Modal content -->
  <div class="modal-content" *ngIf="modalDeleteData">
    <div class="modal-header flex-header">
      <div class="title">
        <div>Mixing Plan</div>
        <div class="dropdown-selection">
          <select [(ngModel)]="mode" (change)="deleteList()" class="selectdd">
            <option value="">Master</option>
            <option value="/final">Final</option>
          </select>
        </div>
      </div>
      <div class="close-btn">
        <span class="close" (click)="modalDeleteData=!modalDeleteData"
          ><ion-icon name="close-outline"></ion-icon
        ></span>
      </div>
      <!-- <ion-grid>
        <ion-row>
          <ion-col size="4">
            <p>Mixing Plan</p>
          </ion-col>
          <ion-col size="7"> </ion-col>
          <ion-col size="1"
            ><span class="close" (click)="modalDeleteData=!modalDeleteData"
              ><ion-icon name="close-outline"></ion-icon
            ></span>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>
    <div class="modal-body">
      <div class="reports-table">
        <ion-grid>
          <ion-row class="table-header" nowrap>
            <ion-col
              size="3"
              class="header-cell"
              (click)="sort2('dispbatid', true)"
            >
              Batch ID ({{ deleteData.length }})
            </ion-col>
            <ion-col
              size="3"
              class="header-cell"
              (click)="sort2('batdate', true)"
            >
              Plan Date
            </ion-col>
            <ion-col
              size="3"
              class="header-cell"
              (click)="sort2('cpdname', true)"
            >
              Compound
            </ion-col>
            <ion-col
              size="2"
              class="header-cell text-center"
              (click)="sort2('planqty', true)"
            >
              Plan Qty
            </ion-col>
            <ion-col size="1" class="header-cell text-center">
              <!-- Action -->
            </ion-col>
          </ion-row>

          <div class="table-body scrollable-medium">
            <ion-row class="table-row" nowrap *ngFor="let x of deleteData">
              <ion-col size="3" class="cell"> {{ x.dispbatid }} </ion-col>
              <ion-col size="3" class="cell"> {{ x.batdate }} </ion-col>
              <ion-col size="3" class="cell"> {{ x.cpdname }} </ion-col>
              <ion-col size="2" class="cell text-center">
                {{ x.planqty }}
              </ion-col>
              <ion-col size="1" class="cell text-center">
                <ion-icon
                  name="trash-outline"
                  (click)="callDeflashing(x)"
                  class="icon-danger"
                ></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="deleteData.length === 0">
              <ion-col size="12" class="no-records">No Records Found</ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </div>

  <div class="modal-content xs confirm-dialog danger" *ngIf="modalDeleteData2">
    <div class="modal-header">
      <!-- <span class="close" (click)="modalDeleteData2=!modalDeleteData2">&times;</span> -->
      Delete List
    </div>
    <div class="modal-body">
      <div class="confirm-content text-center">
        <p class="confirm-msg">Are You Sure Want to Delete?</p>
      </div>
    </div>
    <div class="modal-footer">
      <ion-button color="success" size="small" (click)="deleteDeflashing()"
        >Delete</ion-button
      >
      <ion-button
        color="danger"
        size="small"
        (click)="modalDeleteData2=!modalDeleteData2"
        >Cancel</ion-button
      >
    </div>
  </div>

  <div class="modal-content sm" *ngIf="modalDeleteData3">
    <div class="modal-header">Mixing Plan</div>
    <div class="modal-body">
      <ion-row nowrap class="">
        <ion-col size="12" size-md="6">
          <ng-select
            [(ngModel)]="selectedShift"
            [items]="shiftArray"
            bindLabel="name"
            bindValue="value"
            (change)="ShiftChanged($event)"
            placeholder="📊 Select Shift"
            [searchable]="true"
            [clearable]="false"
            searchFailText="Shift not found"
          >
            <ng-template ng-header>
              <div class="dropdown-header">📑 Available Shift</div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              <span class="selected-item">{{ item.name }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="option-item">
                <i class="fas fa-file-alt"></i>
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ng-select
            [(ngModel)]="selected"
            [items]="locationArray"
            bindLabel="name"
            bindValue="value"
            (change)="OperatorChanged($event)"
            placeholder="📊 Select Location"
            [searchable]="true"
            [clearable]="false"
            searchFailText="Location not found"
          >
            <ng-template ng-header>
              <div class="dropdown-header">📑 Available Location</div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              <span class="selected-item">{{ item.name }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="option-item">
                <i class="fas fa-file-alt"></i>
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
        </ion-col>
        <ion-col size="12">
          <div>
            <ion-label>Date</ion-label>
            <input
              type="date"
              class="selectdddate"
              [(ngModel)]="postData.mixdate"
              id="datefield"
            />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><p class="confirm-msg">Are You Sure to Create the Plan?</p></ion-col
        >
      </ion-row>
    </div>
    <div class="modal-footer">
      <ion-button color="success" size="small" (click)="submitData()"
        >Create</ion-button
      >
      <ion-button
        color="danger"
        size="small"
        (click)="modalDeleteData3=!modalDeleteData3"
        >Cancel</ion-button
      >
    </div>
  </div>
</ion-content>
