<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size-sm="6"
        size-md="4"
        size-lg="3"
        size="6"
        (click)="routePage('Planhome')"
      >
        <ion-card>
          <div class="image">
            <img src="./assets/image/dashboard-process.png" />
          </div>
          <div class="card-content">
            <div>
              <h2>Process</h2>
              <span>View Details</span>
            </div>
            <div class="go-btn">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col
        size-sm="6"
        size-md="4"
        size-lg="3"
        size="6"
        (click)="routePage('Moulding')"
      >
        <ion-card>
          <div class="image">
            <img src="./assets/image/dashboard-view.png" />
          </div>
          <div class="card-content">
            <div>
              <h2>View</h2>
              <span>View Details</span>
            </div>
            <div class="go-btn">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col
        size-sm="6"
        size-md="4"
        size-lg="3"
        size="6"
        (click)="routePage('Reports')"
      >
        <ion-card>
          <div class="image">
            <img src="./assets/image/dashboard-reports.png" />
          </div>
          <div class="card-content">
            <div>
              <h2>Report</h2>
              <span>View Details</span>
            </div>
            <div class="go-btn">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col
        size-sm="6"
        size-md="4"
        size-lg="3"
        size="6"
        (click)="routePage('approvals')"
      >
        <ion-card>
          <div class="image">
            <img src="./assets/image/dashboard-approval.png" />
          </div>
          <div class="card-content">
            <div>
              <h2>Approval</h2>
              <span>View Details</span>
            </div>
            <div class="go-btn">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<ion-content>
<ion-img
    src="./assets/image/nodata.png"
    style="width: 100%; height: 100%"
    *ngIf=" !isDataPresent"
  ></ion-img>
</ion-content>
