<ion-header>
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="approvals"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">RM Quality Check</h3>
      </ion-toolbar>
      <div class="planid-wrapper">
        <ion-input
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search"
          [(ngModel)]="searchData"
          class="search-box"
          ><ion-icon name="search" slot="end"></ion-icon
        ></ion-input>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="reports-table">
    <ion-grid class="appfont">
      <!-- Table Header -->
      <ion-row class="table-header" nowrap>
        <ion-col size="2" class="header-cell" (click)="sort('grnid', false)">
          GRN Id ({{ rmArray.length }})
        </ion-col>
        <ion-col size="2" class="header-cell" (click)="sort('grndate', false)">
          GRN Date
        </ion-col>
        <ion-col
          size="2"
          class="header-cell"
          (click)="sort('invSupName', false)"
        >
          Sup Name
        </ion-col>
        <ion-col size="4" class="header-cell" (click)="sort('ramname', false)">
          RM Name (Grade)
        </ion-col>
        <ion-col size="2" class="header-cell" (click)="sort('recvqty', false)">
          GRN Qty
        </ion-col>
      </ion-row>

      <!-- Table Body -->
      <div
        class="table-body"
        style="
          min-width: 200px;
          height: 60vh;
          overflow-x: auto;
          overflow-y: auto;
        "
      >
        <ion-row
          class="table-row"
          nowrap
          *ngFor="let x of rmArray; index as i"
          (click)="itemDetail(x)"
        >
          <ion-col size="2" class="cell"> {{ x.grnid }} </ion-col>
          <ion-col size="2" class="cell" style="color: blue">
            {{ x.grndate }}
          </ion-col>
          <ion-col size="2" class="cell">
            {{ x.invSupName | slice: 0:24 }}
          </ion-col>
          <ion-col size="4" class="cell"> {{ x.ramname }} </ion-col>
          <ion-col size="2" class="cell" style="color: blue">
            {{ x.recvqty }}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="rmArray.length === 0">
          <ion-col size="12" class="no-records">No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div class="modal-content" *ngIf="showEntryCard">
    <div class="modal-header flex-header">
      <p style="margin: 8px 5px">GRN ID : {{currentRecord.grnid}}</p>
      <span class="close" (click)="showEntryCard=!showEntryCard"
        ><ion-icon name="close-outline"></ion-icon
      ></span>
    </div>
    <div class="modal-body" style="font-size: smaller">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="submitData()"
        *ngIf="showEntryCard"
        class="qc-form"
      >
        <div class="reports-table">
          <ion-grid>
            <!-- Table Header -->
            <ion-row class="table-header" nowrap>
              <ion-col size="4" class="header-cell">Parameter</ion-col>
              <ion-col size="2" class="header-cell">Spec</ion-col>
              <ion-col size="2" class="header-cell">Lower Limit</ion-col>
              <ion-col size="2" class="header-cell">Upper Limit</ion-col>
              <ion-col size="2" class="header-cell">Observation</ion-col>
            </ion-row>

            <!-- Table Body -->
            <div class="table-body" style="max-height: 55vh; overflow-y: auto">
              <ion-row
                class="table-row"
                nowrap
                *ngFor="let y of rmDetails; index as i"
              >
                <ion-col size="4" class="cell param-name">
                  {{ y.paramname }}
                </ion-col>
                <ion-col size="2" class="cell"> {{ y.paramspec }} </ion-col>
                <ion-col size="2" class="cell"> {{ y.paramllimit }} </ion-col>
                <ion-col size="2" class="cell"> {{ y.paramulimit }} </ion-col>
                <ion-col size="2" class="cell">
                  <ion-input
                    type="number"
                    min="0"
                    class="observation-input"
                    [value]="y.paramval"
                    (ionChange)="onChangeOnservation(i, $event.target.value)"
                    (click)="prefill(i, $event.target.value)"
                    (focusout)="blured(i, $event.target.value)"
                  >
                  </ion-input>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="rmDetails.length === 0">
                <ion-col size="12" class="no-records">No Records Found</ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>

        <!-- Test Certificate Section -->
        <div class="form-section">
          <ion-row class="form-row">
            <ion-col size-sm="6" size-md="3" size="12">
              <ion-label class="form-label">Test Cert. Available?: </ion-label>
            </ion-col>
            <ion-col size-sm="12" size-md="6" size="12">
              <ion-radio-group
                value="{{tcIsAvaiable}}"
                (ionChange)="tcRef($event.detail.value)"
                class="flex-radio-group radio-group"
              >
                <div class="radio-item">
                  <ion-radio value="1"></ion-radio>
                  <ion-label class="radio-label">Yes</ion-label>
                </div>
                <div class="radio-item">
                  <ion-radio value="0"></ion-radio>
                  <ion-label class="radio-label">No</ion-label>
                </div>
              </ion-radio-group>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="tcIsAvaiable == '1'" class="form-row">
            <ion-col size-sm="12" size-md="3" size="12">
              <ion-label class="form-label">Test Cert. Ref: </ion-label>
            </ion-col>
            <ion-col size-sm="12" size-md="6" size="12">
              <ion-input
                type="text"
                class="text-input input-item"
                formControlName="tcref"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </div>

        <!-- File Upload Sections -->
        <div class="upload-section">
          <ion-row class="upload-row">
            <ion-col size-sm="12" size-md="3" size="12">
              <ion-label class="form-label">Test Cert. Upload:</ion-label>
            </ion-col>
            <ion-col size-sm="12" size-md="6" size="12">
              <div class="file-upload-container">
                <input
                  type="file"
                  accept="image/jpeg,application/pdf"
                  (change)="filesel($event, 'tc')"
                  #inputFile1
                  class="file-input input-item"
                />
                <ion-button
                  *ngIf="isMobile"
                  size="small"
                  (click)="startCamera('tc')"
                  class="camera-button"
                >
                  Capture Image
                </ion-button>
                <div *ngIf="tcfile || tcPreview" class="file-preview">
                  <img
                    *ngIf="tcPreview"
                    [src]="tcPreview"
                    class="preview-image"
                  />
                </div>
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon
                name="close-circle-outline"
                class="clear-icon"
                (click)="clearTest()"
              >
              </ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <ion-button
        color="success"
        type="submit"
        [disabled]="!registerForm.valid"
        class="submit-button"
      >
        Submit
      </ion-button>
      <ion-button color="danger" (click)="modaldismiss()" class="cancel-button">
        Cancel
      </ion-button>
    </div>
  </div>
</ion-content>
