<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">          
      <ion-img src="{{brandImage}}" style="height: 50px;width:50px"></ion-img>
    </ion-buttons>
    <div style="display: flex;justify-content: center;">
      <img src="./assets/image/quality-control.png" height="25" width="25">
      <b style="font-size: 20px;">&nbsp;&nbsp;RM Quality Check</b>
    </div>       
    <ion-back-button defaultHref="approvals" slot="end"></ion-back-button>   
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row nowrap class="ion-align-items-center">
        <ion-col size="12">        
          <ion-input (keyup)="applyFilter($event.target.value)" placeholder="Search" [(ngModel)]="searchData"><ion-icon name="search"></ion-icon></ion-input>
        </ion-col>  
    </ion-row>
  </ion-grid>

  <ion-grid id="grid" class="appfont" style="overflow: auto;">
    <div style="width: 140%;">
      <ion-row style="border-bottom: 1px solid grey;">
        <ion-col size="2" (click)="sort('grnid',false)">GRN Id ({{rmArray.length}})</ion-col>
        <ion-col size="2" (click)="sort('grndate',false)">GRN Date</ion-col>
        <ion-col size="2" (click)="sort('invSupName',false)">Sup Name</ion-col>
        <ion-col size="4" (click)="sort('ramname',false)">RM Name(Grade)</ion-col>
        <ion-col size="2" (click)="sort('recvqty',false)">GRN Qty</ion-col>
      </ion-row>

      <ion-row *ngFor="let x of rmArray; index as i" style="font-weight: bold;border-bottom: 1px solid grey;" (click)="itemDetail(x)">
        <ion-col size="2">{{x.grnid}}</ion-col>
        <ion-col size="2" style="color:blue;">{{x.grndate}}</ion-col>
        <ion-col size="2" >{{x.invSupName | slice:0:24}}</ion-col> 
        <ion-col size="4">{{x.ramname}}</ion-col>
        <ion-col size="2" style="color:blue;">{{x.recvqty}}</ion-col>
      </ion-row>  
    </div>  
    <br>
  </ion-grid>

  <form [formGroup]="registerForm" (ngSubmit)="submitData()" *ngIf="showEntryCard">
    <ion-card style="position: fixed;top:12%;left:3%;width:90%;overflow: auto;height: 80%;z-index: 12;">
      <ion-card-header style="border-bottom: 1px solid grey;">    
        <ion-card-title>GRN ID : {{currentRecord.grnid}}</ion-card-title>              
      </ion-card-header>

      <ion-grid id="grid" class="appfont">
          <div style="overflow: auto;">
            <div style="width: 130%;">
              <ion-row style="border-bottom: 1px solid grey;text-align: center;" class="bold">
                <ion-col size="4">Paramater</ion-col>
                <ion-col size="2">Spec</ion-col>
                <ion-col size="2">Lower Limit</ion-col>
                <ion-col size="2">Upper Limit</ion-col>
                <ion-col size="2">Observation</ion-col>
              </ion-row>
              <ion-row *ngFor="let y of rmDetails; index as i" style="font-weight: bold;text-align: center;border-bottom: 1px solid grey;">
                <ion-col size="4" style="color:blue;">{{y.paramname}}</ion-col>
                <ion-col size="2">{{y.paramspec}}</ion-col>
                <ion-col size="2" >{{y.paramllimit}}</ion-col> 
                <ion-col size="2">{{y.paramulimit}}</ion-col>
                <ion-col size="2"><ion-input type="number" min="0" class="inputStyle" value="{{y.paramval}}" (ionChange)='onChangeOnservation(i,$event.target.value)' (click)="prefill(i,$event.target.value)" (focusout)="blured(i,$event.target.value)" #inputId></ion-input></ion-col>
              </ion-row>  
            </div>
          </div>
           <br/>
          <ion-row>
            <ion-col size="5">
              <ion-label class="bold">Test Cert. Available?: </ion-label>
            </ion-col>
            <ion-col size="7">             
              <ion-radio-group value="{{tcIsAvaiable}}" (ionChange)="tcRef($event.detail.value)">
                <ion-radio value="1"></ion-radio>
                <ion-label class="marginleft">Yes</ion-label>
                <ion-radio value="0" class="marginleft"></ion-radio>
                <ion-label class="marginleft">No</ion-label>
              </ion-radio-group>              
            </ion-col>
          </ion-row>
          
          <ion-row *ngIf="tcIsAvaiable == '1'">
            <br>
            <ion-col size="4">
              <ion-label class="bold">Test Cert. Ref: </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input type="text" min="0" class="inputStyle" formControlName="tcref"></ion-input>
            </ion-col>
          </ion-row>
          <br/>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Test Cert. Upload: </ion-label>
            </ion-col>
            <ion-col size="7">             
              <ion-input type="file" name="file" (change)="filesel($event,'tc')" accept="image/jpeg,application/pdf" #inputFile1></ion-input>
              <!-- <ion-button color="danger" (click)='clearTest()'>clear</ion-button>             -->
            </ion-col>
            <ion-col size="1"><ion-icon name="close-circle-outline" style="color:red;font-size: 1.5em;margin-top: 45%;" (click)='clearTest()'></ion-icon> </ion-col>
          </ion-row>
          <br/>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Invoice Upload: </ion-label>
            </ion-col>
            <ion-col size="7">             
              <ion-input type="file" name="file" (change)="filesel($event,'inv')" accept="image/jpeg,application/pdf" #inputFile2></ion-input> 
              <!-- <ion-button color="danger" (click)='clearInv()'>clear</ion-button>      -->  
            </ion-col>
            <ion-col size="1"><ion-icon name="close-circle-outline" style="color:red;font-size: 1.5em;margin-top: 45%;" (click)='clearInv()'></ion-icon> </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Date of Exp.: </ion-label>
            </ion-col>
            <ion-col size="8">
              <!-- <ion-input type="date" class="inputStyle" inputmode="decimal" formControlName="doe" (click)="prefill('doe',$event)" (focusout)="blured('doe',$event)"></ion-input>  -->
              <ion-datetime type="date" display-format="DD-MM-YYYY" class="inputStyle" inputmode="decimal" formControlName="doe" max="2050-01-01"></ion-datetime>
              <ion-text *ngIf="submitted && f.doe.errors">
                <ion-text color="danger" *ngIf="f.doe.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
              </ion-text>       
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Raw material: </ion-label>
            </ion-col>
            <ion-col size="8">             
              <ion-radio-group value="{{isApproved}}" (ionChange)="approval($event.detail.value)">
                <ion-radio value="1"></ion-radio>
                <ion-label class="marginleft">Approved</ion-label>
                <ion-radio value="0" class="marginleft"></ion-radio>
                <ion-label class="marginleft">Rejected</ion-label>
              </ion-radio-group>              
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Received Qty: </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input type="number" min="0" class="inputStyle" formControlName="recvqty" (click)="prefill('recvqty',$event)" (focusout)="blured('recvqty',$event)"></ion-input>
              <ion-text *ngIf="submitted && f.recvqty.errors">
                <ion-text color="danger" *ngIf="f.recvqty.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
              </ion-text>  
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col size="4">
              <ion-label class="bold">Approved Qty: </ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input type="number" min="0" class="inputStyle" formControlName="appqty" (click)="prefill('appqty',$event)" (focusout)="blured('appqty',$event)"></ion-input>
            </ion-col>
          </ion-row>
          <br/>
            <ion-textarea label="Outline textarea" labelPlacement="floating" fill="outline" placeholder="Remarks" formControlName="remarks" style="border:1px solid #80808038"></ion-textarea>
          <br />
          <!-- <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" class="label">PIN</ion-label>
                <ion-input type="number" inputmode="decimal" formControlName="pin" class="password"></ion-input>
              </ion-item> 
              <ion-text *ngIf="submitted && f.pin.errors">
                <ion-text color="danger" *ngIf="f.pin.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
              </ion-text>           
            </ion-col>
          </ion-row>
          <br> -->
          <ion-row>
            <ion-col size="6" push="2">
              <ion-button color="success"  type="submit" [disabled]="!registerForm.valid">Submit</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="danger" (click)='modaldismiss()'>Cancel</ion-button>
            </ion-col>
          </ion-row> 
      </ion-grid>
    </ion-card>
  </form>
</ion-content>

