<ion-header>
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="Home"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Fetch Drawing</h3>
      </ion-toolbar>
      <div class="scan-icon">
        <img src="./assets/image/qr-scan.png" alt="Scanner" (click)="scan()" />
      </div>
      <div class="planid-wrapper">
        <ion-input
          [(ngModel)]="planid"
          placeholder="Enter Planid"
          class="search-box"
        ></ion-input>
        <ion-button
          color="primary"
          (click)="sendData()"
          [disabled]="planid.length == 0 ? true : false"
          >Send</ion-button
        >
      </div>
    </div>
  </div>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img
              src="./assets/image/qr-scan.png"
              alt="Scanner"
              (click)="scan()"
              width="50"
              height="50"
              class="ion-float-left"
            />
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <!-- <ion-label position="floating">Paste Code</ion-label> 
              <ion-input
                [(ngModel)]="planid"
                placeholder="Enter Planid"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button
              color="primary"
              (click)="sendData()"
              [disabled]="planid.length == 0 ? true : false"
              >Send</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content> -->
<!-- Modal (shown only if scanning is active) -->
<div class="custom-modal" *ngIf="isScanModalOpen">
  <ion-header>
    <ion-toolbar>
      <ion-title>Scan QR</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeScanModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="scanner-content">
    <div class="video-container">
      <video #video autoplay muted playsinline></video>
      <!-- Show scanner frame only when video is ready -->
      <div class="overlay" *ngIf="isVideoReady">
        <div class="focus-box">
          <div class="scan-line"></div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
