<ion-header>
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button
            defaultHref="Planhome"
            (click)="displaymode()"
          ></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Final Plan</h3>
      </ion-toolbar>
      <ion-input
        class="search-box"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        [(ngModel)]="searchData"
        ><ion-icon name="search" slot="end"></ion-icon
      ></ion-input>
      <!-- <ion-input
        class="search-box"
        [(ngModel)]="searchData"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        clearInput
      >
        <ion-icon name="search" slot="end"></ion-icon>
      </ion-input> -->
      <ng-select
        class="pi-dropdown"
        *ngIf="locationArray.length > 0"
        [(ngModel)]="selected"
        [items]="locationArray"
        bindLabel="name"
        bindValue="value"
        (change)="OperatorChanged($event)"
        placeholder="📊 Select Location"
        [searchable]="true"
        [clearable]="false"
        searchFailText="Location not found"
      >
        <ng-template ng-header>
          <div class="dropdown-header">📑 Available Location</div>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <span class="selected-item">{{ item.name }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <div class="option-item">
            <i class="fas fa-file-alt"></i>
            {{ item.name }}
          </div>
        </ng-template>
      </ng-select>
    </div>
    <div class="right-menu">
      <ion-button color="success" size="small" (click)="callPlan()"
        >Create</ion-button
      >
    </div>
  </div>
</ion-header>

<ion-content class="inventory-content">
  <div class="reports-table">
    <ion-grid>
      <ion-row class="table-header" nowrap>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('batid', true)"
        >
          BatchId ({{ tableData.length }})
        </ion-col>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('cpdname', true)"
        >
          Compound
        </ion-col>
        <ion-col
          size="2"
          class="header-cell text-center"
          (click)="sort('masterbatchwgt', true)"
        >
          MBWt ({{ totalmasterbatchwgt.toFixed(1) }})
        </ion-col>
        <ion-col
          size="2"
          class="header-cell text-center"
          (click)="sort('expbatchqty', true)"
        >
          ExpWt ({{ totalexpectedbatchwgt.toFixed(1) }})
        </ion-col>
        <ion-col size="2" class="header-cell text-center">
          ({{ dataArray.length }})
        </ion-col>
      </ion-row>

      <div class="table-body scrollable">
        <ion-row
          class="table-row"
          nowrap
          *ngFor="let x of tableData; let i = index"
        >
          <ion-col size="3" class="cell"> {{ x.dispbatid }} </ion-col>
          <ion-col size="3" class="cell"> {{ x.cpdname }} </ion-col>
          <ion-col size="2" class="cell text-right">
            {{ x.masterbatchwgt }}
          </ion-col>
          <ion-col size="2" class="cell text-right">
            {{ x.expbatchqty }}
          </ion-col>
          <ion-col size="2" class="cell text-center">
            <ion-checkbox
              color="primary"
              (ionChange)="selectRecord(x, $event, i)"
              [checked]="x.check"
            ></ion-checkbox>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="tableData.length === 0">
          <ion-col size="12" class="no-records">No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div class="modal-content sm" *ngIf="modalDeleteData3">
    <div class="modal-header">Final Plan</div>
    <div class="modal-body">
      <ion-row nowrap class="ion-align-items-center">
        <ion-col size="12">
          <ng-select
            [(ngModel)]="selectedShift"
            [items]="shiftArray"
            bindLabel="name"
            bindValue="value"
            (change)="ShiftChanged($event)"
            placeholder="📊 Select Shift"
            [searchable]="true"
            [clearable]="false"
            searchFailText="Shift not found"
          >
            <!-- appendTo="body"  -->
            <ng-template ng-header>
              <div class="dropdown-header">📑 Available Shift</div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              <span class="selected-item">{{ item.name }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="option-item">
                <i class="fas fa-file-alt"></i>
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
        </ion-col>
        <ion-col size="12">
          <!-- <ion-label style="font-size: small;color: grey;">Location</ion-label>               
          <ionic-selectable
                #selectComponent
                [(ngModel)]="selected"
                [items]="locationArray"
                itemValueField="value"
                itemTextField="name"
                [canSearch]="true"
                (onChange)="OperatorChanged($event)"
                searchFailText= "Operator not found"
                placeholder="Select Location">
            </ionic-selectable>         -->
        </ion-col>
        <ion-col size="7">
          <ion-col>
            <ion-label>Date</ion-label>
            <input
              type="date"
              class="selectdddate"
              [(ngModel)]="postData.plandate"
              id="datefield"
            />
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><p class="confirm-msg">Are You Sure to Create the Plan?</p></ion-col
        >
      </ion-row>
    </div>
    <div class="modal-footer">
      <ion-button color="success" size="small" (click)="submitData()"
        >Create</ion-button
      >
      <ion-button
        color="danger"
        size="small"
        (click)="modalDeleteData3=!modalDeleteData3"
        >Cancel</ion-button
      >
    </div>
  </div>
</ion-content>
