@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --text-color: #111111;
  --body-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
}
body {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
.menuImage {
  width: 90px;
  margin: auto;
}
