<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-img src="{{brandImage}}" style="height: 50px;width:50px"></ion-img>
        </ion-buttons>
        <div style="display: flex;justify-content: center;">
        <img src="./assets/image/replacement.png" height="25" width="25">
        <b style="font-size: 20px;">&nbsp;&nbsp;Stock Adjustment</b>
        </div>
        <ion-back-button defaultHref="approvals" slot="end"></ion-back-button>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col size="2">           
            <img src="./assets/image/qr-scan.png" alt="Scanner" (click)="scan()" width="50" height="50" class="ion-float-left">           
          </ion-col> 
          <ion-col size="4">          
            <ion-select [(ngModel)]="itemType">
              <ion-select-option value="roll">Calendar Roll</ion-select-option>
              <ion-select-option value="cpd">Compound</ion-select-option>
              <ion-select-option value="ram">Raw Material</ion-select-option>
              <ion-select-option value="cmpd">Component</ion-select-option>
            </ion-select>           
          </ion-col>         
          <ion-col size="4">
            <ion-item>
              <ion-input [(ngModel)]="planid" placeholder="Enter Planid"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1">
            <ion-button color="primary" (click)="sendData()" [disabled]="planid.length == 0 ? true : false">Send</ion-button>
          </ion-col>         
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>

  <ion-card *ngIf="showEntryCard">
    <form [formGroup]="registerForm" (ngSubmit)="submitData()">
      <ion-card-header style="border-bottom: 1px solid grey;">    
        <!-- <ion-card-title>Item Name : {{ itemType == "cpd" ? datapass[0].dispitemref : datapass[0].itemname}}</ion-card-title>    -->
        <ion-card-title>Item Name : {{datapass[0].itemname}}</ion-card-title>              
      </ion-card-header>
      <ion-grid id="grid" class="appfont">
        <div style="overflow: auto;">
              <div style="width: 130%;">
                <ion-row style="text-align: center;border-bottom: 1px solid grey;">
                  <ion-col size="3">GRN/Plan/Batch ref.</ion-col>
                  <ion-col size="3" style="text-align: right;">Book Qty.</ion-col>
                  <ion-col size="3">Physical Qty.</ion-col>
                  <ion-col size="3">UoM</ion-col>
                </ion-row>
                <ion-row *ngFor="let y of datapass; index as i" style="font-weight: bold;text-align: center;border-bottom: 1px solid grey;">
                  <ion-col size="3">{{y.dispitemref}}</ion-col>
                  <ion-col size="3" style="text-align: right;">{{y.bookqty}}</ion-col> 
                  <ion-col size="3"><ion-input type="number" min="0" class="inputStyle" value="{{y.phyqty}}" (ionChange)='onChangeOnservation(i,$event.target.value)' (click)="prefill(i,$event.target.value)" (focusout)="blured(i,$event.target.value)" #inputId></ion-input></ion-col>
                  <ion-col size="3">{{y.uom}}</ion-col>
                </ion-row>  
              </div>
            </div>
      </ion-grid>
      <ion-grid id="grid" class="appfont">
          <ion-textarea label="Outline textarea" labelPlacement="floating" fill="outline" formControlName="remarks" placeholder="Remarks" style="border:1px solid #80808038"></ion-textarea>
          <ion-text *ngIf="submitted && f.remarks.errors">
            <ion-text color="danger" *ngIf="f.remarks.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
          </ion-text>   
          <!-- <br>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating" class="label">PIN</ion-label>
                <ion-input type="number" inputmode="decimal" formControlName="pin" class="password"></ion-input>
              </ion-item>
              <ion-text *ngIf="submitted && f.pin.errors">
                <ion-text color="danger" *ngIf="f.pin.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
              </ion-text>        
            </ion-col>
          </ion-row> -->
          <br>
          <ion-row>
            <ion-col size="6" push="2">
              <ion-button color="success"  type="submit" [disabled]="!registerForm.valid">Submit</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="danger" (click)='modaldismiss()'>Cancel</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  

</ion-content>