<ion-app>
  <ion-menu contentId="main-content" side="start" menuId="main" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-img src="./assets/icon/logo1.png" class="logo-img"></ion-img>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/dashboard" routerDirection="root"
          >Dashboard</ion-item
        >
        <ion-item routerLink="/settings" routerDirection="root"
          >Settings</ion-item
        >
        <!-- Add more items here -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-img
          src="{{ brandImage }}"
          style="height: 50px; width: 50px"
          slot="start"
        ></ion-img>

        <!-- Custom logout icon button -->
        <ion-buttons slot="end">
          <ion-button
            class="btn theme-btn"
            expand="full"
            shape="round"
            (click)="logout()"
            ><ion-icon name="exit"></ion-icon> Logout</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <router-outlet></router-outlet>
    </ion-content>
  </div>
</ion-app>
