<ion-header>
  <ion-toolbar>       
        <ion-img src="{{brandImage}}" style="height: 50px;width:50px" slot="start"></ion-img>               
        <div style="display: flex;justify-content: center;">
          <img src="./assets/image/planning.png" height="25" width="25">
          <b style="font-size: 20px;">&nbsp;&nbsp;Process</b>
        </div>
        <ion-back-button defaultHref="Widgets" slot="end"></ion-back-button>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <br><br>
    <ion-row>
      <ion-col size="4" (click)="routePage('Purchaseorderplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/receipt.png" class="image"/>    
      </ion-col>

      <ion-col size="4" (click)="routePage('Mixingplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/rgb.png" class="image"/>    
      </ion-col>

      <ion-col size="4" (click)="routePage('Finalplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/route.png" class="image"/>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="text-align: center;">
        <h4>Purchase</h4>   
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        <h4>Mixing</h4>    
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        <h4>Final</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" (click)="routePage('Calenderingplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/paper-roll.png" class="image"/>    
      </ion-col>

      <ion-col size="4" (click)="routePage('Mouldingplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/machine-press.png" class="image"/>    
      </ion-col>

      <ion-col size="4" (click)="routePage('Deflashplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/layer.png" class="image"/>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="text-align: center;">
        <h4>Calendering</h4>   
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        <h4>Production</h4>    
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        <h4>Deflashing</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" (click)="routePage('Inspectionplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/statistics.png" class="image"/>    
      </ion-col>

      <ion-col size="4" (click)="routePage('Dispatchplanning')" style="display: flex;justify-content: center;">
        <img src="./assets/image/delivery.png" class="image"/>    
      </ion-col>

      <ion-col size="4">
           
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="text-align: center;">
        <h4>Inspection</h4>   
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        <h4>Despatch</h4>    
      </ion-col>

      <ion-col size="4" style="text-align: center;">
        
      </ion-col>
    </ion-row>












    <!-- <ion-row>
      <ion-col size="12" (click)="routePage('Mixingplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/rgb.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Mixing</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="routePage('Finalplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/route.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Final</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="routePage('Calenderingplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/paper-roll.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Calendering</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="routePage('Mouldingplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/machine-press.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Moulding</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="routePage('Deflashplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/layer.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Deflashing</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" (click)="routePage('Inspectionplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/statistics.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Inspection</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row> 
    
    <ion-row>
      <ion-col size="12" (click)="routePage('Dispatchplanning')">
        <ion-card>
          <ion-row>
            <ion-col size="6"> 
              <img src="./assets/image/delivery.png" class="image"/>               
            </ion-col>
            <ion-col size="6">  
                <h2>Dispatch</h2>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row> -->
   
  </ion-grid>
  
</ion-content>
