ion-header {
  --background: #f5f5f5;
  box-shadow: none;
  --min-height: 36px;
  ion-toolbar {
    --background: #f5f5f5;
    --min-height: 36px;
    width: auto;
    white-space: nowrap;
    margin-right: 10px;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }
  }
  .main-sub-heading {
    margin: 0;
    font-size: 17px;
    color: #000;
    @media (max-width: 767px) {
      font-size: 16px;
      margin-left: 8px;
    }
  }
}
ion-back-button {
  --icon-font-size: 16px;
  --icon-margin-start: 0;
  --icon-margin-end: 16px;
  --padding-start: 0;
  --padding-end: 0;
  min-height: 30px;
  min-width: 30px;
  line-height: 30px;
}
.reports-table {
  overflow-x: auto;
}

.inventory-content {
  background-color: #f0f1f2;
}

.border,
.single-border {
  border-bottom: 2px solid #989898;
}

.single-border {
  padding-top: 12px;
}

.content {
  color: #454f63;
  font-family: "Open Sans";
  font-size: 12px;
}

#datePicker {
  background: white;
  border: 1px solid #0000001f;
}

.selectdddate {
  background: #ffffff;
  border: 0;
  color: #4a4646;
  box-shadow: 0px 0px 2px grey;
  padding: 4px;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 16px;
}
.confirm-msg {
  font-size: 18px;
}

.selectdd {
  background: white;
  border: 0;
  color: black;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 24%;
  left: -2%;
}
