<ion-header>
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="approvals"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Dimension Entry</h3>
      </ion-toolbar>
      <div class="scan-icon">
        <img src="./assets/image/qr-scan.png" alt="Scanner" (click)="scan()" />
      </div>
      <div class="planid-wrapper">
        <ion-input
          [(ngModel)]="planid"
          placeholder="Enter Planid"
          class="search-box"
        ></ion-input>
        <ion-button
          expand="block"
          color="primary"
          (click)="sendData()"
          [disabled]="!planid?.length"
          >Send</ion-button
        >
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-card *ngIf="showEntryCard">
    <ion-card-header style="border-bottom: 1px solid grey">
      <ion-card-title>Dimension Entry</ion-card-title>
    </ion-card-header>
    <ion-grid id="grid" class="appfont">
      <ion-row>
        <ion-col size="4">
          <ion-label>Plan Reference : </ion-label>
        </ion-col>
        <ion-col size="8"> {{datapass[0].planid}} </ion-col>
      </ion-row>
      <br />
      <div style="overflow: auto">
        <div style="width: 350%">
          <ion-row style="text-align: center; border-bottom: 1px solid grey">
            <ion-col size="1">No.</ion-col>
            <ion-col size="1">Parameter</ion-col>
            <ion-col size="2">Range</ion-col>
            <ion-col size="8">Samples</ion-col>
          </ion-row>
          <ion-row
            *ngFor="let y of rmDetails; index as i"
            style="
              font-weight: bold;
              text-align: center;
              border-bottom: 1px solid grey;
            "
          >
            <ion-col size="1" style="color: blue">{{i+1}}</ion-col>
            <ion-col size="1">{{y.dimname}}</ion-col>
            <ion-col size="2">{{y.dimllimit}} - {{y.dimulimit}} (mm)</ion-col>
            <ion-col size="8">
              <ion-row>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert0{{i}}"
                    value="{{y.dimval1}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval1")'
                    (click)="prefill(i,$event.target.value,'dimval1')"
                    (focusout)="blured(i,$event.target.value,'dimval1','0')"
                    #inputId
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert1{{i}}"
                    value="{{y.dimval2}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval2")'
                    (click)="prefill(i,$event.target.value,'dimval2')"
                    (focusout)="blured(i,$event.target.value,'dimval2','1')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert2{{i}}"
                    value="{{y.dimval3}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval3")'
                    (click)="prefill(i,$event.target.value,'dimval3')"
                    (focusout)="blured(i,$event.target.value,'dimval3','2')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert3{{i}}"
                    value="{{y.dimval4}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval4")'
                    (click)="prefill(i,$event.target.value,'dimval4')"
                    (focusout)="blured(i,$event.target.value,'dimval4','3')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert4{{i}}"
                    value="{{y.dimval5}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval5")'
                    (click)="prefill(i,$event.target.value,'dimval5')"
                    (focusout)="blured(i,$event.target.value,'dimval5','4')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert5{{i}}"
                    value="{{y.dimval6}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval6")'
                    (click)="prefill(i,$event.target.value,'dimval6')"
                    (focusout)="blured(i,$event.target.value,'dimval6','5')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert6{{i}}"
                    value="{{y.dimval7}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval7")'
                    (click)="prefill(i,$event.target.value,'dimval7')"
                    (focusout)="blured(i,$event.target.value,'dimval7','6')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert7{{i}}"
                    value="{{y.dimval8}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval8")'
                    (click)="prefill(i,$event.target.value,'dimval8')"
                    (focusout)="blured(i,$event.target.value,'dimval8','7')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert8{{i}}"
                    value="{{y.dimval9}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval9")'
                    (click)="prefill(i,$event.target.value,'dimval9')"
                    (focusout)="blured(i,$event.target.value,'dimval9','8')"
                  ></ion-input
                ></ion-col>
                <ion-col
                  ><ion-input
                    type="number"
                    min="0.001"
                    class="inputStyle"
                    id="alert9{{i}}"
                    value="{{y.dimval10}}"
                    (ionChange)='onChangeOnservation(i,$event.target.value,"dimval10")'
                    (click)="prefill(i,$event.target.value,'dimval10')"
                    (focusout)="blured(i,$event.target.value,'dimval10','9')"
                  ></ion-input
                ></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
    <ion-grid id="grid" class="appfont">
      <form [formGroup]="registerForm" (ngSubmit)="submitData()">
        <ion-row>
          <ion-col size="4">
            <ion-label>Compound : </ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-radio-group
              value="{{isApproved}}"
              (ionChange)="approval($event.detail.value)"
            >
              <ion-radio value="1"></ion-radio>
              <ion-label class="marginleft">Approved</ion-label>
              <ion-radio value="0" class="marginleft"></ion-radio>
              <ion-label class="marginleft">Rejected</ion-label>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        <br />
        <ion-textarea
          label="Outline textarea"
          labelPlacement="floating"
          fill="outline"
          formControlName="remarks"
          placeholder="Remarks"
          style="border: 1px solid #80808038"
        ></ion-textarea>
        <!-- <br>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" class="label">PIN</ion-label>
              <ion-input type="number" inputmode="decimal" formControlName="pin" class="password"></ion-input>
            </ion-item>
            <ion-text *ngIf="submitted && f.pin.errors">
              <ion-text color="danger" *ngIf="f.pin.errors.required" style="font-size: 12px;float:right;font-weight: bold;">*Required</ion-text>
            </ion-text>        
          </ion-col>
        </ion-row> -->
        <br />
        <ion-row>
          <ion-col size="6" push="2">
            <ion-button
              color="success"
              type="submit"
              [disabled]="!registerForm.valid || flag"
              >Submit</ion-button
            >
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger" (click)="modaldismiss()"
              >Cancel</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>
</ion-content>

<!-- Modal (shown only if scanning is active) -->
<div class="custom-modal" *ngIf="isScanModalOpen">
  <ion-header>
    <ion-toolbar>
      <ion-title>Scan QR</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeScanModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="scanner-content">
    <div class="video-container">
      <video #video autoplay muted playsinline></video>
      <div class="overlay" *ngIf="isVideoReady">
        <div class="focus-box">
          <div class="scan-line"></div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
