#grid {
  margin: 4%;
}

.avatar {
  height: 50px;
  width: 50px;
}

.appfont {
  font-size: 17px;
}

.inputStyle {
  text-align: right;
  color: grey;
}

.labelStyle {
  float: right;
  margin-right: 10%;
}

.label {
  color: grey;
}

.password {
  -webkit-text-security: disc;
}

.inputStyle {
  font-size: 21px;
}

::ng-deep ng-select {
  z-index: 9999 !important; /* Make sure it's on top */
}

::ng-deep .ng-dropdown-panel {
  z-index: 9999 !important;
  position: absolute !important;
}

::ng-deep ion-header {
  overflow: visible !important;
  z-index: 1000;
}

::ng-deep .ng-select {
  width: 100%;
  max-width: 400px; /* or any suitable width */
  z-index: 1050 !important; 
  overflow: visible !important;
}

::ng-deep .ng-select .ng-select-container {
  min-height: 40px;
  border-radius: 4px;
  z-index: 1050 !important; 
  overflow: visible !important;
}

@media print {
  #header {
    display: none;
  }
}

.image{
  // height: 200px;
  width: 80px;
}