<ion-header class="main-sub-header">
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="Planhome"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Inspection Plan</h3>
      </ion-toolbar>
      <ion-input
        class="search-box"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        [(ngModel)]="searchData"
        ><ion-icon name="search" slot="end"></ion-icon
      ></ion-input>
    </div>
    <div class="right-menu">
      <ion-button color="secondary" size="small" (click)="modalDeleteData3=true"
        >Issue</ion-button
      >
    </div>
  </div>
</ion-header>

<ion-content class="inventory-content">
  <div class="reports-table">
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="table-header" nowrap>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('issref', true)"
        >
          Key Ref. ({{ tableData.length }})
        </ion-col>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('cmpdrefno', true)"
        >
          Part No
        </ion-col>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('cmpdname', true)"
        >
          Part Desc.
        </ion-col>
        <ion-col
          size="2"
          class="header-cell"
          tappable
          (click)="sort('avlqty', true)"
        >
          Rec. Qty ({{ totalreceivedqty.toFixed(1) }})
        </ion-col>
        <ion-col size="1" class="header-cell">
          ({{ dataArray.length }})
        </ion-col>
      </ion-row>

      <!-- Table Body -->
      <div class="table-body">
        <ion-row
          class="table-row"
          nowrap
          *ngFor="let x of tableData; let i = index"
        >
          <ion-col size="3" class="cell"> {{ x.issref }} </ion-col>
          <ion-col size="3" class="cell"> {{ x.cmpdrefno }} </ion-col>
          <ion-col size="3" class="cell"> {{ x.cmpdname }} </ion-col>
          <ion-col size="2" class="cell"> {{ x.avlqty }} </ion-col>
          <ion-col size="1" class="cell text-center">
            <ion-checkbox
              color="primary"
              (ionChange)="selectRecord(x, $event, i)"
              [checked]="x.check"
            ></ion-checkbox>
          </ion-col>
        </ion-row>

        <!-- No Records Found -->
        <ion-row *ngIf="tableData.length === 0">
          <ion-col size="12" class="no-records">No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div class="modal-content xs" *ngIf="modalDeleteData3">
    <div class="modal-header flex-header">
      <div>Inspection Plan</div>
      <span class="close" (click)="modalDeleteData3=!modalDeleteData3"
        ><ion-icon name="close-outline"></ion-icon
      ></span>
    </div>
    <div class="modal-body" style="text-align: center">
      <p>Are You Sure Want to Issue?</p>
    </div>
    <div class="modal-footer" style="float: right">
      <ion-button color="success" size="small" (click)="submitData()"
        >Yes</ion-button
      >
      <ion-button
        color="danger"
        size="small"
        (click)="modalDeleteData3=!modalDeleteData3"
        >No</ion-button
      >
    </div>
  </div>
</ion-content>
