<ion-header class="main-sub-header">
  <div class="inner-header-wrap">
    <div class="left-menu">
      <ion-toolbar>
        <ion-buttons si slot="start">
          <ion-back-button defaultHref="Planhome"></ion-back-button>
        </ion-buttons>
        <h3 class="main-sub-heading">Inspection Plan</h3>
      </ion-toolbar>
      <ion-input
        class="search-box"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        [(ngModel)]="searchData"
        ><ion-icon name="search" slot="end"></ion-icon
      ></ion-input>
      <ng-select
       class="pi-dropdown"
       *ngIf="operatorArray && operatorArray.length > 0"
        [(ngModel)]="selected"
        [items]="operatorArray"
        bindLabel="name"
        bindValue="value"
        (change)="OperatorChanged($event)"
        placeholder="📊 Operator"
        [searchable]="true"
        [clearable]="false"
        searchFailText="Operator not found"
      >
        <ng-template ng-header>
          <div class="dropdown-header">📑 Available Operator</div>
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
          <span class="selected-item">{{ item.name }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <div class="option-item">
            <i class="fas fa-file-alt"></i>
            {{ item.name }}
          </div>
        </ng-template>
      </ng-select>
      
    </div>
    <div class="right-menu">
      <ion-button color="secondary" size="small" (click)="modalDeleteData3=true"
        >Issue</ion-button
      >
      <ion-button color="danger" size="small" (click)="deleteList()">Delete</ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="inventory-content">
  <div class="reports-table">
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="table-header" nowrap>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('issref', true)"
        >
          Key Ref. ({{ tableData.length }})
        </ion-col>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('cmpdrefno', true)"
        >
          Part No
        </ion-col>
        <ion-col
          size="3"
          class="header-cell"
          tappable
          (click)="sort('cmpdname', true)"
        >
          Part Desc.
        </ion-col>
        <ion-col
          size="2"
          class="header-cell"
          tappable
          (click)="sort('avlqty', true)"
        >
          Rec. Qty ({{ totalreceivedqty.toFixed(1) }})
        </ion-col>
        <ion-col size="1" class="header-cell">
          ({{ dataArray.length }})
        </ion-col>
      </ion-row>

      <!-- Table Body -->
      <div class="table-body">
        <ion-row
          class="table-row"
          nowrap
          *ngFor="let x of tableData; let i = index"
        >
          <ion-col size="3" class="cell"> {{ x.issref }} </ion-col>
          <ion-col size="3" class="cell"> {{ x.cmpdrefno }} </ion-col>
          <ion-col size="3" class="cell"> {{ x.cmpdname }} </ion-col>
          <ion-col size="2" class="cell"> {{ x.avlqty }} </ion-col>
          <ion-col size="1" class="cell text-center">
            <ion-checkbox
              color="primary"
              (ionChange)="selectRecord(x, $event, i)"
              [checked]="x.check"
            ></ion-checkbox>
          </ion-col>
        </ion-row>

        <!-- No Records Found -->
        <ion-row *ngIf="tableData.length === 0">
          <ion-col size="12" class="no-records">No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <div class="modal-content xs" *ngIf="modalDeleteData3">
    <div class="modal-header flex-header">
      <div>Inspection Plan</div>
      <span class="close" (click)="modalDeleteData3=!modalDeleteData3"
        ><ion-icon name="close-outline"></ion-icon
      ></span>
    </div>
    <div class="modal-body" style="text-align: center">
      <p>Are You Sure Want to Issue?</p>
    </div>
    <div class="modal-footer" style="float: right">
      <ion-button color="success" size="small" (click)="submitData()"
        >Yes</ion-button
      >
      <ion-button
        color="danger"
        size="small"
        (click)="modalDeleteData3=!modalDeleteData3"
        >No</ion-button
      >
    </div>
  </div>
  
  <div class="modal-content xs" *ngIf="modalDeleteData">
  <div class="modal-header flex-header">
    <span class="close" (click)="modalDeleteData=!modalDeleteData">&times;</span>
    <p style="margin: 8px 5px;">Inspection Plan List</p>
  </div>
  <div class="modal-body">
    <ion-grid>
      <ion-row nowrap class="headers">
        <ion-col size="3" class="single-border" (click)="sort('issref',true)">
          Key Ref. ({{tableData.length}})
        </ion-col>
        <ion-col size="3" class="single-border" (click)="sort('cmpdrefno',true)">
          Part No
        </ion-col>
        <ion-col size="3" class="single-border" (click)="sort('cmpdname',true)">
          Part Desc.
        </ion-col>
        <ion-col size="2" class="single-border" (click)="sort('avlqty',true)">
          Rec. Qty ({{totalreceivedqty.toFixed(1)}})
        </ion-col>
        <ion-col size="1" class="single-border">
          ({{dataArray.length}})
        </ion-col>
      </ion-row>
      <div style="height: 55vh; overflow: scroll;">
        <ion-row nowrap class="content" *ngFor="let x of deleteData">
          <ion-col size="3"> {{ x.issref }} </ion-col>
          <ion-col size="3"> {{ x.cmpdname}} </ion-col>
          <ion-col size="3"> {{ x.sno }} </ion-col>
          <ion-col size="2" style="font-size: medium;"> {{ x.issqty }} </ion-col>        
          <ion-col size="1"> <ion-icon name="trash-outline" (click)="callInspection(x)" style="color:red"></ion-icon></ion-col>
        </ion-row>

        <ion-row *ngIf="deleteData.length == 0">
          <ion-col size="6" offset="4"> No Records Found</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</div>

<div class="modal-content2" *ngIf="modalDeleteData2">
  <div class="modal-header">
    <span class="close" (click)="modalDeleteData2=!modalDeleteData2">&times;</span>
    <p style="margin: 8px 5px;">Inspection Plan</p>
  </div>
  <div class="modal-body" style="text-align: center;">
    <br>
    Are You Sure Want to Delete?
    <br>
    <br>
  </div>
  <div class="modal-footer" style="float: right;">
    <ion-button color="success" size="small" (click)="deleteInspection()">Yes</ion-button>
    <ion-button color="danger" size="small" (click)="modalDeleteData2=!modalDeleteData2">No</ion-button>   
  </div>
</div>
</ion-content>
