.login-content {
  --background: linear-gradient(180deg, #00709c, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-position: bottom;
  background-size: 50%;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/image/login-page-bg.png);
    z-index: -1;
  }
}
.login-wrapper {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 112, 156, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.logo-img {
  height: 100px;
  width: 100px;
}

.welcome-text {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.welcome-text h1 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.welcome-text p {
  font-size: 14px;
  color: #666;
}

.version {
  font-size: 12px;
  margin: 0;
}

.input-item {
  --border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 112, 156, 0.15);
  margin-bottom: 10px;
  padding-left: 0;
  border: 1px solid #ddd;
}

ion-icon {
  color: #00709c;
  margin-right: 16px;
}

.error-text {
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px 10px auto;
  display: block;
  text-align: right;
}

.refresh-icon {
  top: 10px;
  right: 10px;
}

.admin-icon {
  top: 10px;
  right: 10px;
}

.logo-icon {
  top: 10px;
  left: 10px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  animation: fadeInUp 0.6s ease-in-out;
}

@media (max-width: 480px) {
  .login-wrapper {
    padding: 15px;
    border-radius: 10px;
  }

  .logo-img {
    height: 80px;
    width: 80px;
  }

  .welcome-text h1 {
    font-size: 20px;
  }

  ion-button {
    font-size: 14px;
  }
}
